<h1 class="text-center mb-4">Welcome to my todolist app</h1>
<%= render 'layouts/task_form'  %>
<div class="container">
  <ul>
  <% @categories.each do  |category|%>
  <li><%= category.title  %></li>
  <div class="card">
    <ul> 
      <% category.tasks.each do |task|  %>
      <li id='contact-form'>
        <%= task.title  %>
        <% unless task.deadline.nil? %>
          , to read: <%= task.deadline.strftime('%D')  %>
        <% end %>
        <%= link_to "Suppr", task_path(task), :class => "btn btn-light btn-lg", :method => 'DELETE', :data => {:confirm => 'Sûr ?'} %>
      </li>
      <% end %>
    </ul>
  </div>
  <% end %>
  </ul>
</div>